@model WEBödev.Models.İlaç
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm("Güncelle", "İlaç", FormMethod.Post))
{
    <body style="background-color: antiquewhite;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form class="form-group" method="post">
                        <div style="margin-bottom:15px">
                            @Html.LabelFor(x => x.Id)
                            @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
                        </div>
                        <div style="margin-bottom:15px">
                            @Html.LabelFor(x => x.KullanıcıTc)
                            @Html.TextBoxFor(x => x.KullanıcıTc, new { @class = "form-control" })
                        </div>
                        <div style="margin-bottom:15px">
                            @Html.LabelFor(x => x.İlaçNo)
                            @Html.TextBoxFor(x => x.İlaçNo, new { @class = "form-control" })
                        </div>
                        <div style="margin-bottom:15px">
                            @Html.LabelFor(x => x.İlaçAdı)
                            @Html.TextBoxFor(x => x.İlaçAdı, new { @class = "form-control" })
                        </div>
                        <div style="margin-bottom:15px">
                            @Html.LabelFor(x => x.SonKullanmaTarihi)
                            @Html.TextBoxFor(x => x.SonKullanmaTarihi, new { @class = "form-control" })
                        </div>
                        <div style="margin-bottom:15px">
                            @Html.LabelFor(x => x.Dozaj)
                            @Html.TextBoxFor(x => x.Dozaj, new { @class = "form-control" })
                        </div>

                        <<button class="btn btn-success">Güncelle</button>
                        <a href="/İlaç/Index">İlaç Listesi</a>
                    </form>
                </div>
            </div>
        </div>
        </body> }


